@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
/* CSS Document */

:root {
}

body,td,th,p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: var(--orange);
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #c7c7c7;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 7.5rem;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media only screen and (min-width:576px) {
  nav {
    height: 5rem;
  }
  nav h1 a {
    font-weight: 2.5rem;
  }
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #252831;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  padding: 0.5rem;
  width: 100%;
  min-width: 12.5rem;
 
}
.filter-options label {
  padding-right: 4rem;
}

@media only screen and (min-width: 576px) {
  .filter-options {
    grid-template-columns: auto 1fr;
  }
  .filter-options select {
    margin: 0 2rem;
  }
  .filter-options label {
    grid-column: 2;
  }
}

@media only screen and (min-width: 768px) {
  .filter-options {
    grid-auto-flow: column;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 2rem;
  }
  .filter-options select {
    margin: 0;
  }
  .filter-options label {    
    grid-column: auto;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #ffffff;
  list-style: outside none none;
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-gap: 1.5rem;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  min-height: 200px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-template-areas:
    "title"
    "image"
    "neighborhood"
    "address"
    "button";
  justify-content: center;
  align-items: center;
}
#restaurants-list .restaurant-img {
  display: block;
  max-width: 100%;
  grid-area: image;
  align-self: center;
  padding: 1rem 0;
}
#restaurants-list li h2 {
  color: #252831;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: -1px;
  line-height: 1.3;
  text-transform: uppercase;
  grid-area: title;
  align-self: center;
}
#restaurants-list p {
  margin: 0;
  font-size: .875rem;
  color: #252831;
}
.neighborhood {
  grid-area: neighborhood;
  align-self: end;
  padding-bottom: .5rem;
}
.address {
  grid-area: address;
}
#restaurants-list li a {
  background-color: #252831;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  height: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: grid;
  align-items: center;
  align-self: center;
  grid-area: button;
  border-radius: .5rem;
  justify-self: center;
  width: 100%;
  max-width: 15rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 576px) {
  #restaurants-list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  #restaurants-list li {
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1rem;
    grid-template-areas:
      "title image"
      "neighborhood image"
      "address image"
      "button image";
  }
  #restaurants-list .restaurant-img {
    padding: 0;
  }
  #restaurants-list li a {
    margin: 0;
  }
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
